{% extends 'base.html' %}
{% block title %}Categories | Locatem{% endblock %}
{% load static %}

{% block content %}
<section class="categories-section">
    <h2>Categories</h2>
    <div class="cards-container">
        {% for category in categories %}
        <div class="card">
            <h3>{{ category.name }}</h3>
            {% if category.image %}
            <img src="{{ category.image.url }}" alt="{{ category.name }}">
            {% else %}
            <img src="{% static 'images/example.jpg' %}" alt="{{ category.name }}">
            {% endif %}
            <a href="{% url 'category_detail' category.slug %}" class="btn-secondary"> > Explore Category</a>
        </div>
        {% empty %}
        <p>No categories found.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}